body{
    margin: 0%;
    background: rgb(239, 147, 147);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    width: 1200px;
 
}
.img-container{
    text-align: center;
    margin-left: 4rem;
    margin-top: 20px;
}
.img-container img{
    margin: 20px;
    border-radius: 9px;
    box-shadow: 10px 9px 35px 0px rgba(0,0,0,0.75);
}
.btn{
    margin-left: 50%;
    margin-top: 30px;
    border: none;
    padding: 20px 0px;
    width: 110px;
    box-shadow: 10px 9px 35px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
    background: rgb(128, 34, 34);
    font-family: cursive;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.btn:hover{
    background: rgb(61, 3, 3);
    transform: scale(1.12);
    transition: .3s ease-in-out;
    border: 1px solid white;
}